rewriteEngine On

# product category 
rewriteRule ^danh-muc/([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=product&action=cat_product&cat_id=$2&slug=$1

#prooduct detail
rewriteRule ^chi-tiet/([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=product&action=detail_product&product_id=$2&slug=$1

#menu
rewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=$1&controller=index&action=index&menu_id=$2

#cart
rewriteRule gio-hang.html$ ?mod=cart
rewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)-c.html$ ?mod=cart&action=add_cart&product_id=$2&slug=$1

#delete_cart
rewriteRule ^delete/([a-zA-Z0-9_-]+)-([0-9]+)-d.html$ ?mod=cart&action=delete_cart&product_id=$2&slug=$1

#buy now
rewriteRule ^thanh-toan.html$ ?mod=cart&action=checkout
rewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)-b.html$ ?mod=home&action=buy_now&product_id=$2&slug=$1

#order
rewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)-or.html$ ?mod=home&action=order&product_id=$2&slug=$1
rewriteRule ^dat-hang.html$ ?mod=cart&action=order

#detail post
rewriteRule ^bai-viet/([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=blog&action=detail&post_id=$2&slug=$1

#search
rewriteRule ^tim-kiem.html$ ?mod=home&action=search_product
rewriteRule ^loc-([a-zA-Z0-9_-]+).html$ ?mod=home&action=search_filter&value=$1