body{
    font-family: arial;
    font-size: 14px;
    line-height: 20px;
    background: #05B2D2;
}

#wrapper-form-login{
    width: 400px;
    margin: 50px auto;
    padding: 30px 20px 20px 20px;
    border-radius: 3px;
    text-align: center;
}

#form-login #username,#form-login #password{
    display: block;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 9px;
    background: #f7f7f7;
    border: none;
}

#form-login #btn-login{
    display: block;
    width: 100%;
    background: #029ef3;
    border: none;
    color: #fff;
    padding: 10px 8px;
    margin: 15px 0px 10px;
    cursor: pointer;
}

.page-title{
    font-size: 18px;
    padding: 0px 0px 20px;
}


